<app-shared-menu></app-shared-menu>
<section class="menu-principal">
        <header>
            <h1>REGISTRO DE PLANTAS</h1> 
            <button class="Btn" routerLink="/crearplanta">
                <div class="sign">+</div>
                <div class="text"> Registrar</div>
            </button>
            <article class="inicio">
                <div class="show-entries">
                    <label>Entrada</label>
                    <select name="" id="" [(ngModel)]="pagesize">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </div>
                <div class="buscar">
                    <input type="text" [(ngModel)]="filtro">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
            </article>
        </header>
    <article class="tabla" >
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Precio al mayor</th>
                    <th scope="col">Accion</th>
                  </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of listplant | pipePlants: filtro | paginate: { id: 'plantas' , itemsPerPage: pagesize, currentPage: p }">
                    <td>1</td>
                    <td>{{list.nombre}}</td>
                    <td>{{list.cantidad}}</td>
                    <td>{{list.precioU}}</td>
                    <td>{{list.PrecioM}}</td>
                    <td>
                        <a (click)="RedirecEditarC(list.id)">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                        <a (click)="RedirecEditar(list.id)">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                    </td>
                  </tr>
            </tbody>
          </table>
          <pagination-controls id="plantas"(pageChange)="handlePageChange($event)"
                previousLabel="Ant"
                nextLabel="Sig">
          </pagination-controls>
    </article>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
    <script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
</section>
<app-shared-menu></app-shared-menu>

