<section class="menu-principal">
        <header>
            <h1>REGISTRO DE PLANTAS</h1>
            <article class="inicio">
                <a href=""><ion-icon name="add-circle-outline"></ion-icon>Agregar un planta</a>
                <div class="buscar"><input type="text"><ion-icon name="search-outline"></ion-icon></div>
            </article>
        </header>
    <article class="tabla">
        <table>
            <tr>
                <th>Planta</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Accion</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><ion-icon name="trash-outline"></ion-icon> <ion-icon name="create-outline"></ion-icon></td>
            </tr>
        </table>

    </article>
    <script  type = "module"  src = "https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
    <script  nomodule  src = "https://unpkg .com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
</section>
