<section class="modal-crear">
  <img src="" alt="">
  <article class="wrapper">
    <h1>Agregar una planta</h1>
    <article class="form-modal">
      <form action="">
        <article class="propiedades">
          <input type="text">
          <label> Nombre de la planta</label>
        </article>
        <article class="propiedades">
          <input type="number">
          <label> Cantidad en numero</label>
        </article>
        <article class="propiedades">
          <input type="number">
          <label> precio unitario</label>
        </article>
        <button>Crear</button>
        <button>Cancelar</button>
      </form>
    </article>
  </article>
</section>
