@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #879697;
}
.modal-crear{
    background-color:#ffffff;
    width: 65%;
    height: 80%;
    margin: 5% 17%;
    border-radius: 5px;
}
 .img-planta img{
    width: 52%;
    height: 80vh;
    float: left;
    border-radius: 5px;
}
.wrapper{
    height: 80vh;
    width: 48%;
    float: right;
    border-radius: 5px;
}
.wrapper h1{
    text-align: center;
    margin-top: 15%;
}
.wrapper .form-modal{
    width: 80%;
    height: 70%;
    margin: 5% 10%;
}
.propiedades input{
    height: 6vh;
    width: 80%;
    margin: 5% 5%;
    border: none;
    border-bottom: 1px solid #000;
}
.wrapper .crear{
    margin-top: 15%;
    margin-left: 5%;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 6vh;
    width: 40%;
    border-radius: 5px;
    font-size: 1.2em;
    color: #ffffff;
}
.wrapper .cancelar{
    margin-top: 15%;
    margin-left: 5%;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 6vh;
    width: 40%;
    border-radius: 5px;
    font-size: 1.2em;
    color: #ffffff;
}