@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
:root{
    /* transittions*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
ion-menu{
    z-index: 100;
}
ion-header{
    box-shadow: none;
}
ion-avatar img{
    width: 160%;
    height: 150%;
    margin: 20% 180%;
    margin-bottom: 20px;
}
.menu-link li{
    height: 50px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: -15%;
    list-style: none;
    align-items: center;

}
li ion-icon{
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 25px;
}
.menu-link li ion-icon,
.menu-link li .text{
    color: #000;
    transition: var(--tran-02);
}
.menu-link li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.menu-link li a:hover{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.menu-link li a:hover ion-icon,
.menu-link li a:hover .text{
    color: #fff;
}