<ion-menu contentId="main-content">
  <ion-header>
    <ion-avatar slot="logo">
      <img src="../../../assets/Logo sin fondo.png" alt="Imagen de perfil">
    </ion-avatar>
  </ion-header>
  <ion-content class="ion-padding">
    <ul class="menu-link">
      <li class="nav-link">
        <a routerLink="/PrincipalComponent">
          <ion-icon name="home-outline"></ion-icon>
          <span class="text nav-text">Pagina Principal</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="">
          <ion-icon name="thermometer-outline"></ion-icon>
          <span class="text nav-text">Lectura variables</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="">
          <ion-icon name="partly-sunny-outline"></ion-icon>
          <span class="text nav-text">variables ambientales</span>
        </a>
      </li>
      <li class="nav-link">
        <a routerLink="/ventas">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <span class="text nav-text">Registro de ventas</span>
        </a>
      </li>
      <li class="nav-link">
        <a routerLink="/planta">
          <ion-icon name="leaf-outline"></ion-icon> 
          <span class="text nav-text">Registro de plantas</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="">
          <ion-icon name="calendar-clear-outline"></ion-icon>
          <span class="text nav-text">Calendario</span>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
